parameters:
    ignoreErrors:
        - identifier: missingType.iterableValue
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface::scalarNode\(\).#'
        - path: src/ConfigDefinition.php
          message: '#Cannot call method .* on mixed.#'
        - path: src/ConfigDefinition.php
          message: '#Cannot access offset .* on mixed.#'
