parameters:
	ignoreErrors:
		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Checker/AfterMigration.php

		-
			message: '#^Cannot access offset ''name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Checker/AfterMigration.php

		-
			message: '#^Cannot access offset ''rowsCount'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Checker/AfterMigration.php

		-
			message: '#^Parameter \#1 \$bucketId of method Keboola\\StorageApi\\Client\:\:listTables\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Checker/AfterMigration.php

		-
			message: '#^Parameter \#1 \$tableId of method Keboola\\StorageApi\\Client\:\:getTable\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Checker/AfterMigration.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Checker/AfterMigration.php

		-
			message: '#^Parameter \#3 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Checker/AfterMigration.php

		-
			message: '#^Parameter \#4 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Checker/AfterMigration.php

		-
			message: '#^Parameter \#5 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Checker/AfterMigration.php

		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Component.php

		-
			message: '#^Cannot access offset ''name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Component.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Component.php

		-
			message: '#^Parameter \#3 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Component.php

		-
			message: '#^Method Keboola\\AppProjectMigrate\\Config\:\:getSourceManageToken\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Config.php

		-
			message: '#^Parameter \#1 \$keys of method Keboola\\Component\\Config\\BaseConfig\:\:getValue\(\) expects array\<string\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Config.php

		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/JobRunner/JobRunner.php

		-
			message: '#^Cannot access offset ''url'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/JobRunner/JobRunner.php

		-
			message: '#^Method Keboola\\AppProjectMigrate\\JobRunner\\JobRunner\:\:getServiceUrl\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/JobRunner/JobRunner.php

		-
			message: '#^Method Keboola\\AppProjectMigrate\\JobRunner\\JobRunner\:\:getServices\(\) should return array but returns array\|null\.$#'
			identifier: return.type
			count: 1
			path: src/JobRunner/JobRunner.php

		-
			message: '#^Property Keboola\\AppProjectMigrate\\JobRunner\\JobRunner\:\:\$services \(array\|null\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/JobRunner/JobRunner.php

		-
			message: '#^Cannot access offset ''features'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/JobRunner/JobRunnerFactory.php

		-
			message: '#^Parameter \#2 \$haystack of function in_array expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/JobRunner/JobRunnerFactory.php

		-
			message: '#^Cannot access offset ''id'' on Keboola\\JobQueueClient\\DTO\\Job\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/JobRunner/QueueV2JobRunner.php

		-
			message: '#^Cannot access offset ''isFinished'' on Keboola\\JobQueueClient\\DTO\\Job\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/JobRunner/QueueV2JobRunner.php

		-
			message: '#^Method Keboola\\AppProjectMigrate\\JobRunner\\QueueV2JobRunner\:\:runJob\(\) should return array but returns Keboola\\JobQueueClient\\DTO\\Job\.$#'
			identifier: return.type
			count: 1
			path: src/JobRunner/QueueV2JobRunner.php

		-
			message: '#^Method Keboola\\AppProjectMigrate\\JobRunner\\QueueV2JobRunner\:\:runSyncAction\(\) should return array but returns Keboola\\SyncActionsClient\\Model\\ActionResponse\.$#'
			identifier: return.type
			count: 1
			path: src/JobRunner/QueueV2JobRunner.php

		-
			message: '#^Parameter \#1 \$jobId of method Keboola\\JobQueueClient\\Client\:\:getJob\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/JobRunner/QueueV2JobRunner.php

		-
			message: '#^Parameter \#1 \$publicApiUrl of class Keboola\\JobQueueClient\\Client constructor expects string, Psr\\Log\\LoggerInterface given\.$#'
			identifier: argument.type
			count: 1
			path: src/JobRunner/QueueV2JobRunner.php

		-
			message: '#^Parameter \#3 \$configuration of class Keboola\\SyncActionsClient\\Client constructor expects Keboola\\SyncActionsClient\\ApiClientConfiguration\|null, array\<string, int\|null\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/JobRunner/QueueV2JobRunner.php

		-
			message: '#^Parameter \#3 \$options of class Keboola\\JobQueueClient\\Client constructor expects array\{backoffMaxTries\?\: int, userAgent\?\: string, handler\?\: GuzzleHttp\\HandlerStack, logger\?\: Psr\\Log\\LoggerInterface\}, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/JobRunner/QueueV2JobRunner.php

		-
			message: '#^Cannot access offset ''components'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Utils.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Utils.php

		-
			message: '#^Parameter \#2 \$array of function array_map expects array, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Utils.php

		-
			message: '#^Call to method hasWarning\(\) on an unknown class Psr\\Log\\Test\\TestLogger\.$#'
			identifier: class.notFound
			count: 2
			path: tests/phpunit/CheckerAfterMigration.php

		-
			message: '#^Instantiated class Psr\\Log\\Test\\TestLogger not found\.$#'
			identifier: class.notFound
			count: 2
			path: tests/phpunit/CheckerAfterMigration.php

		-
			message: '#^Parameter \#3 \$logger of class Keboola\\AppProjectMigrate\\Checker\\AfterMigration constructor expects Psr\\Log\\LoggerInterface, Psr\\Log\\Test\\TestLogger given\.$#'
			identifier: argument.type
			count: 2
			path: tests/phpunit/CheckerAfterMigration.php

		-
			message: '#^Cannot access offset ''dryRun'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/phpunit/MigrateTest.php

		-
			message: '#^Offset ''message'' might not exist on Monolog\\LogRecord\|null\.$#'
			identifier: offsetAccess.notFound
			count: 20
			path: tests/phpunit/MigrateTest.php

		-
			message: '#^PHPDoc tag @var with type Keboola\\AppProjectMigrate\\JobRunner\\JobRunner is not subtype of native type PHPUnit\\Framework\\MockObject\\MockObject\.$#'
			identifier: varTag.nativeType
			count: 2
			path: tests/phpunit/MigrateTest.php

		-
			message: '#^Parameter \#2 \$callback of function array_filter expects \(callable\(mixed\)\: bool\)\|null, Closure\(bool\)\: bool given\.$#'
			identifier: argument.type
			count: 1
			path: tests/phpunit/MigrateTest.php

		-
			message: '#^Parameter \#2 \$subject of function preg_match expects string, mixed given\.$#'
			identifier: argument.type
			count: 4
			path: tests/phpunit/MigrateTest.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: tests/phpunit/MigrateTest.php

		-
			message: '#^Part \$configId \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 4
			path: tests/phpunit/MigrateTest.php

		-
			message: '#^Part \$destinationStack \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 4
			path: tests/phpunit/MigrateTest.php

		-
			message: '#^PHPDoc tag @var with type Keboola\\StorageApi\\Client is not subtype of native type PHPUnit\\Framework\\MockObject\\MockObject\.$#'
			identifier: varTag.nativeType
			count: 1
			path: tests/phpunit/UtilsTest.php

		-
			message: '#^PHPDoc tag @var with type Keboola\\StorageApi\\Components is not subtype of native type PHPUnit\\Framework\\MockObject\\MockObject\.$#'
			identifier: varTag.nativeType
			count: 1
			path: tests/phpunit/UtilsTest.php